<br><br>

<div class="container text-center">
  <div class="col-md-12">
    <div class="card">
      <h2 class ="card-header card-primary no-margin">Detalles de servicio</h2>
      <div class="card-body-body">
        <h3>id: {{service[0].id}} </h3>
        <h3>placa: {{service[0].placa}} </h3>
        <h3>costo: {{service[0].costo}} </h3>
        <h3>fecha: {{service[0].fecha}} </h3>
        <h3>encargado: {{service[0].encargado}} </h3>
        <h3>notas: {{service[0].notas}} </h3>
      </div>
    </div>
  </div>
</div>

