<br><br>

<div class="container text-center">
    <div class="card">
      <div>
      <h2 class ="card-header card-primary no-margin">Menú Principal</h2>
      <div class="card-body-body">
        <div class="col-md-12">
          <a [routerLink]="['/vehicles/']" class="btn btn-default mx-auto d-block">Lista de automóviles</a>
          <a [routerLink]="['/vehicles/all/service/']" class="btn btn-default mx-auto d-block">Lista de servicios</a>
          <a [routerLink]="['/vehicles/']" class="btn btn-default mx-auto d-block">Lista de clientes</a>
        </div>
      </div>
    </div>
</div>
