<h1 class="text-center">Lista de servicios de vehículos</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Placa</th>
      <th scope="col">Costo</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services; let i = index" [attr.data-index]="i" [ngStyle]="whiteStyle">
      <th scope="row"><a [routerLink]="['/services/', service.id]">{{i}}</a></th>
      <td>{{service.placa}}</td>
      <td>{{service.costo}}</td>
      <td>{{service.fecha}}</td>
    </tr>
  </tbody>
</table>
